.aboutPage{
    background: rgb(1,1,1);
    background: linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(52,57,100,1) 100%);
}

.containerAbout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleAbout{
    margin-top: 30px;
}

.containerPicture{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pictureLine{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 60px
}

.teamPic{
    text-align: center;
    width: 50%;
}

.containerPP{
    position: relative;
}

.linkProfile{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.linkProfile:hover{
    transition: 0.2s;
    opacity: 0.8;
}

.containerShare{
    margin: 100px;
}

.shareBar{
    display: flex;
    text-decoration: none;
    color: #f3f3f3;
    margin: 60px;
    cursor: pointer;
}

.shareBar:hover{
    color: #243859;
    transition: 0.2s;
}

.logoShare{
    padding-right: 30px;
}

.legalInfo{
    margin: 100px;
    text-align: center;
}

.textLegal{
    margin-bottom: 15px;
}