.buttonBarContainer{
    display: flex;
    justify-content: center;
}

.buttonBarComponent{
    display: flex;
    justify-content: space-arround;
    background-color: #47799C;
    padding: 5px;
}

.button{
    font-family: 'Quicksand', 'sans-serif';
    font-size: 18px;
    font-weight: 300;
    color: #f3f3f3;
    background-color: #47799C;
    width: 100%;
    padding: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    white-space: nowrap;
}
.button.selected {
    background: #243859;
    font-weight: 600;
    transition: background 0.3s;
    width: 100%;
}