.buttonBarContainer{
    display: flex;
    justify-content: center;
    padding: 4px;
    background-color: #47799C;
    max-width: 600px;
    margin: 32px auto;
}

.button{
    font-family: 'Quicksand', 'sans-serif';
    font-size: 18px;
    font-weight: 300;
    color: #f3f3f3;
    background-color: #47799C;
    width: 100%;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
}

.button:hover{
    opacity: 0.7;
}

.button.selected {
    background: #243859;
    font-weight: 600;
    transition: opacity 0.4s ease-in-out;
}