.containerCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circleContainer{
    position: relative;
}

.comparisonContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.comparisonContainer.bigContainer {
    z-index: 2;
}
.comparisonContainer.bigContainer .textComparison {
    background-color: #A6D9DC;
}
.comparisonContainer.medContainer {
    z-index: 3;
}
.comparisonContainer.medContainer .textComparison {
    background-color: #47799C;
}
.comparisonContainer.smallContainer {
    z-index: 4;
}
.comparisonContainer.smallContainer .textComparison {
    background-color: #243859;
}

.comparisonCircle {
    border-radius: 50%;
    margin: 0 auto;
    transition: transform .3s;
}
.comparisonCircle.circleBig {
    width: 50vh;
    height: 50vh;
    background-color: #A6D9DC;
}
.comparisonCircle.circleMed {
    width: 30vh;
    height: 30vh;
    background-color: #47799C;
}
.comparisonCircle.circleSmall {
    width: 10vh;
    height: 10vh;
    background-color: #243859;
}

.textComparison{
    text-align: center;
    white-space: nowrap;
    padding: 8px 16px;
}