.containerCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circleContainer{
    position: relative;
}

.bigContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.medContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.smallContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circleBig{
    background-color: #A6D9DC;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
}

.circleMed{
    background-color: #47799C;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
}

.circleSmall{
    background-color: #243859;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
}

.textComparison{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}