.dangerLevelContainer{
    display: flex;
}

.dangerThisYear{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dangerText{
    text-align: center;
}

.dangerTextBiggest{
    text-align: center;
    margin-top: 50%;
}

.circleDanger{
    margin-top: 80px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #47799C;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circleText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chicxculub{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.circleDino{
    height: 1500px;
    width: 1000px;
    background: #243859;
    border-radius: 50%;
    position: absolute;
    top: -900%;
    z-index: -1000;
}