.mainDetailedYear{
    background: rgb(1,1,1);
    background: linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(52,57,100,1) 100%);
    height: 100vh;
    overflow: hidden;
}

.graphContainer {
    padding-top: 112px;
    height: calc(100vh - 2 * 112px);
    flex: 3;
}

.detailedYearContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.yearInfoContainer{
    margin: 80px;
}
.titleDetailedYear{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}