.detailedMeteorContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    padding: 0 160px;
    box-sizing: border-box;

}
.detailedMeteorText{
    text-align: center;

}
.detailedMeteorUpperInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 180px;
}
.detailedMeteorLowerInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.meteorInfoCard{
    text-align: center;
}
