header {
    position: fixed;
    top: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
}

header .meteora-logo {
    height: 32px;
    margin: 24px;
    padding: 16px;
}

header .backButton {
    position: absolute;
    width: 44px;
    left: 40px;
    margin-right: 16px;
}

header:hover{
    opacity: 0.7;
}