.home-display-flex{
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.home-display-flex .meteora-logo-intro{
    width: 490px;
}

.home-display-flex .home-catchphrase{
    margin-top: 110px;
    text-align: center;
}