*{
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #F3F3F3;
    background-color: #0a0a0a;
}

main {
    position: relative;
    z-index: 5;
}
  
/* Fonts */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1{
    display: none;
}

h2{
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

h3{
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

h4{
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.infoDesc{
    font-weight: 300;
}