.aboutUsButton {
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.aboutUsButton a {
    padding: 16px;
    color: #f3f3f3;
    text-decoration: none;
    transition: opacity 0.4s ease-in-out;
}
.aboutUsButton a:hover{
    opacity: 0.7;
}
.moreBarContainer{
    position: fixed;
    top: 24px;
    right: 40px;
    padding: 16px;
    z-index: 200;
    display: flex;
    align-items: center;

}
.soundButton{
    width: 40px;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
}
.soundButton:hover{
    opacity: 0.7;
}