.yearBarInfoContainer{
    min-width: 200px;
    display: flex;
    padding: 5px;
}

.Line{
    width: 1px;
    height: 250px;
    background-color: #f3f3f3;
}

.yearBarInfoItems{
    display: flex;
    flex-direction: column;
}

.yearNameMenu{
    padding-bottom: 15px;
    padding-left: 8px;
}

.yearBarMeteors{
    position: relative;
    font-size: 18px;
    font-weight: 300;
    padding: 8px;
}

.yearBarMeteorsBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: #243859;
    z-index: -1;
    transition: transform .3s ease-in-out;
    transform: scaleX(0);
    will-change: transform;
}

.yearBarMedianMass{
    position: relative;
    margin-top: 5px;
    padding: 8px;
    font-size: 18px;
    font-weight: 300;
}

.yearBarMedianMassBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: #47799C;
    z-index: -1;
    transition: transform .3s ease-in-out;
    transform: scaleX(0);
    will-change: transform;
}

.yearBarMassAverage{
    position: relative;
    margin-top: 5px;
    padding: 8px;
    font-size: 18px;
    font-weight: 300;
}

.yearBarMassAverageBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: #243859;
    z-index: -1;
    transition: transform .3s ease-in-out;
    transform: scaleX(0);
    will-change: transform;
}

.yearBarMassMax{
    position: relative;
    margin-top: 5px;
    padding: 8px;
    font-size: 18px;
    font-weight: 300;
}

.yearBarMassMaxBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: #47799C;
    z-index: -1;
    transition: transform .3s ease-in-out;
    transform: scaleX(0);
    will-change: transform;
}

.yearLink {
    margin-top: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
}

.yearLink:hover{
    opacity: 0.7;
}

.yearLink::before {
    content: ">";
    margin: 0 8px;
}

.changeYearButton{
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
}

.changeYearButton:hover{
    opacity: 0.7;
}

.reversed{
    transform: rotate(180deg);
}